3-for-each/src/main/app/3-for-each.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="foreach" doc:name="HTTP Listener Configuration"/>
    <flow name="3-for-eachFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/json" allowedMethods="POST" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <foreach collection="#[json:flights]" doc:name="For Each">
            <logger message="#['ForEach: '+payload]" level="INFO" doc:name="Logger"/>
        </foreach>
        <set-payload value="#['Procesado']" doc:name="Set Payload"/>
    </flow>
    <flow name="Copy_of_3-for-eachFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/java" allowedMethods="POST" doc:name="Copy_of_HTTP"/>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <logger message="#[payload]" level="INFO" doc:name="Copy_of_Logger"/>
        <foreach collection="#[payload.flights]" doc:name="Copy_of_For Each">
            <logger message="#['ForEach: '+payload]" level="INFO" doc:name="Copy_of_Logger"/>
        </foreach>
        <set-payload value="#['Procesado']" doc:name="Copy_of_Set Payload"/>
    </flow>
</mule>
