6-web-services/src/main/app/libros-API.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="libros-API-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="libros-API-config" raml="libros-API.yml" consoleEnabled="false" doc:name="Router"/>
    <flow name="libros-API-main">
        <http:listener config-ref="libros-API-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="libros-API-config" doc:name="APIkit Router"/>
        <exception-strategy ref="libros-API-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="libros-API-console">
        <http:listener config-ref="libros-API-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="libros-API-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/users/books:libros-API-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/users/books/{bookTitle}:libros-API-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/users/books/{bookTitle}:libros-API-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/users/authors:libros-API-config">
        <set-payload value="{&#xA;&quot;authorID&quot;:1,&#xA;&quot;authorName&quot;:&quot;Robert&quot;,&#xA;&quot;DOB&quot;:&quot;21/04/1986&quot;,&#xA;&quot;Age&quot;:30&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/users/authors/{authorID}:libros-API-config">
        <set-payload value="{&#xA;&quot;TotalBooks&quot;:30,&#xA;&quot;Subject&quot;:&quot;Maths,Science&quot;,&#xA;&quot;Publication&quot;:&quot;Nirvana&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/users/books:libros-API-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/users/books/{bookTitle}:libros-API-config">
        <set-payload value="{&#xA;&quot;id&quot;: &quot;123&quot;,&#xA;&quot;title&quot;: &quot;API Design&quot;,&#xA;&quot;description&quot;: null,&#xA;&quot;datetime&quot;: 1341533193,&#xA;&quot;author&quot;: &quot;Mary&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/users/books/{bookTitle}/author:libros-API-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/users/books/{bookTitle}/publisher:libros-API-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/users/authors:libros-API-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;&quot;message&quot;:&quot;Author updated {but not really&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/users/books:libros-API-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="libros-API-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
