1-hello-world/src/main/app/1-hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/hola-mundo" doc:name="HTTP Listener Configuration"/>
    <flow name="1-hello-worldFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#['Hola Mundo']" doc:name="Set Payload"/>
    </flow>
    <flow name="1-hello-worldFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/{nombre}" doc:name="HTTP"/>
        <logger message="#[message]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="nombre" value="#[message.inboundProperties.'http.uri.params'.nombre]" doc:name="Variable - nombre"/>
        <set-payload value="#['Hola Mundo '+flowVars.nombre]" doc:name="Set Payload"/>
        <logger message="#[flowVars.nombre]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Copy_of_1-hello-worldFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/query-param" doc:name="HTTP"/>
        <logger message="#[message]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="nombre" value="#[message.inboundProperties.'http.query.params'.nombre]" doc:name="Variable - nombre"/>
        <set-payload value="#['Hola Mundo '+flowVars.nombre]" doc:name="Set Payload"/>
        <logger message="#[flowVars.nombre]" level="INFO" doc:name="Copy_of_Logger"/>
    </flow>
</mule>
